<p>
    <mat-toolbar class="navigation">
        <span>Hi {{getCurrentUser()}}. http://localhost:4200{{route}}</span>
        <div class="navigation-links">
            <a class="navigation-link" routerLink="">Sign In</a>
            <a class="navigation-link" routerLink="registration">Sign Up</a>
            <a class="navigation-link" routerLink="users/all-users">Users</a>
            <a class="navigation-link" routerLink="users/add-user">Add user</a>
            <a href="" class="navigation-link" routerLink="vehicles">Vehicles</a>
        </div>
    </mat-toolbar>
</p>