<p>
    <mat-toolbar class="navigation">
        <span>http://localhost:4200{{route}}</span>
        <div class="navigation-links">
            <button mat-button [matMenuTriggerFor]="menu">{{getCurrentUser()}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="info/company">Company info</button>
                <button mat-menu-item routerLink="info/personal">Personal info</button>
                <button mat-menu-item routerLink="info/contacts">Contacts</button>
            </mat-menu>
            <a class="navigation-link" routerLink="all-users">Users</a>
            <a class="navigation-link" routerLink="add-user">Add user</a>
            <a class="navigation-link" routerLink="/vehicles">Vehicles</a>
        </div>
    </mat-toolbar>
</p>