<mat-card class="card" *ngIf="isHiddenCardsShown || user?.activated">
    <mat-card-header>
        <mat-card-title>{{user?.name}} {{user?.age}} y.o.</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
            {{user?.activated ? 'Active' : 'Non-active'}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-stroked-button color="primary" (click)="changeUserStatus()">Change status</button>
    </mat-card-actions>
</mat-card>
