<div [formGroup]="usersGroup" class="add-user__form">
    <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput formControlName="firstName" required>
        <mat-error *ngIf="usersGroup.get('firstName').invalid">First name is incorrect</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Last name</mat-label>
        <input matInput formControlName="lastName" required>
        <mat-error *ngIf="usersGroup.get('lastName').invalid">Last name is incorrect</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="usersGroup.get('email').invalid">Email is incorrect</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age">
        <mat-error *ngIf="usersGroup.get('age').invalid">Age is incorrect</mat-error>
    </mat-form-field>
    <mat-radio-group aria-label="Select an option">
        <input class="form-radio__button" type="radio" formControlName="gender" value="male">Male
        <input class="form-radio__button" type="radio" formControlName="gender" value="female">Female
        <mat-error *ngIf="usersGroup.get('gender').invalid">Gender is incorrect</mat-error>
    </mat-radio-group>
    <input type="file" class="file-uploader" (change)="handleFileInput($event.target.files)">
</div>