<h2>Add user</h2>
<form [formGroup]="usersGroup">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput formControlName="age">
    </mat-form-field>
    <mat-radio-group aria-label="Select an option">
        <input class="form-radio__button" type="radio" formControlName="gender" value="male">Male
        <input class="form-radio__button" type="radio" formControlName="gender" value="female">Female
      </mat-radio-group>
    <mat-form-field appearance="fill">
        <mat-label>Department</mat-label>
        <input matInput formControlName="department">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Company</mat-label>
        <input matInput formControlName="company">
    </mat-form-field>
    <input type="file" class="file-uploader" (change)="handleFileInput($event.target.files)">
    <button mat-raised-button color="primary" (click)="addUser()">Add user</button>
</form>