.modal-window {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    border-radius: 15px;
}