<div class="address-container" *ngFor="let address of getFormsControls() let i = index" [formGroup]="address">
    <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <textarea matInput formControlName="country"></textarea>
        <mat-error>Country is incorrect</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
        <mat-error>City is incorrect</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Postcode</mat-label>
        <input matInput formControlName="postcode">
        <mat-error>Postcode is required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="warn" (click)="removeAddress(i)">Remove address</button>
</div>
<button mat-button (click)="addAddress()" class="add-address__button">Add address</button>