.vehicle-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vehicle-favorites__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
