<mat-card class="card">
    <mat-card-header>
        <mat-card-title>{{ data.name }} {{ data.age }}</mat-card-title>
        <mat-card-subtitle>{{ data.info }}</mat-card-subtitle>
    </mat-card-header>
    <img class="card-image" mat-card-image src={{data.photo}} alt="Photo of a Shiba Inu">
    <a mat-raised-button [routerLink]="['/users/edit-user', data.id]">Edit user</a>
    <button mat-icon-button color="white" aria-label="Example icon button with a heart icon" (click)="onChangeFavoritesStatus()" [ngClass]="{favoriteCard: data.favoriteStatus}">
        <mat-icon>favorite</mat-icon>
    </button>
</mat-card>