.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;

    mat-form-field {
        width: 90%;
    }

    .navigation-link {
        text-decoration: none;
        color: #3f51b5;
    }
}
