<div class="login-form" [formGroup]="loginForm">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" required>
    </mat-form-field>
    <span>Don't have an account? Please <a class="navigation-link" routerLink="/registration" routerLinkActive="active">sign up</a></span>
</div>
